

h1 {
    color: blue;
    border-bottom: 5px;
}
.span {
    color: cyan;
}
#span {
color: coral;
border: 1px solid blue;
}

#main {
    background: white;
}
.main>.p {
    color: rgb(235, 29, 91);
    font-size: larger;
}
.main .p {
    color: chartreuse;
}

p+p {
    color: crimson;
}

li~li {
    color: darkmagenta;
}

[type="text"] {
    background: blue ;
    color: aqua;
}
[type="password"] {
    background-color: cornsilk;
}
